* {
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
}

html  {
    font-size: 16px;
}

.lecteurAudioWithButtons button {
    border:none;
    background-color: white;
}

.iconeButton {
    width: 2rem;
}

#buttonPause, #buttonStop {
    display: none;
}

.inputPlusTrackTime {
    display: flex;
    justify-content: flex-start;
}

.sectionLecteurAudio {
    background: #b9acac;
  display: flex;
  width: 550px;
  justify-content: space-around;
  padding: 10px;
  border-radius: 45px;
}