* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}


.lecteurAudioWithButtons button {
  border: none;
  background-color: white;
}

.iconeButton {
  width: 4rem;
}



.inputPlusTrackTime {
  display: flex;
  justify-content: flex-start;
}

.sectionLecteurAudio {
  background: #b9acac;
  display: flex;
  width: 600px;
  max-height: 4rem;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 45px;
  background: #D9D9D9;
}

.ImageIllustrationEmission {
  background-image: url("https://img.freepik.com/premium-photo/girl-has-urban-lifestyle_273609-54804.jpg");
  background-repeat: no-repeat;
  height: 233px;
  width: 533px;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: baseline;
  align-items: center;
}

.titreEmission {
  position: relative;
  top: 4rem;
  right: 4rem;
  color: white;
}


.sectionGlobaleLecteur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttonPlay {
  position: relative;
  right: 1.5rem;
  top: 4px;
  height: 3rem;
  border-radius: 50px;
  background-color: #D9D9D9;
}
#track {
  -webkit-appearance: none;/* Personnalisation de l'affichage de la barre de la piste audio pour Mozzila */
  background-color: #020202;
  border-radius: 50px;
  height: 7px;
  position: relative;
  top: 4px;
}